{# templates/partials/_navBar.html.twig #}

<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark py-lg-4" id="mainNav">
  <div class="container-fluid">
    <a class="navbar-brand text-uppercase text-expanded font-weight-bold d-lg-none" href="#">Les fées du logique</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav mx-auto">

        <li class="nav-item px-lg-4 {% if route == 'home' %}active{% endif %}">
          <a class="nav-link text-uppercase text-expanded" href="{{ path('home') }}">
            {% trans %}Accueil{% endtrans %}
            <span class="sr-only">(current)</span>
          </a>
        </li>
        {# if app.user %}
          <li class="nav-item text-uppercase text-expanded dropdown px-lg-4 {% if route == "account_show" or route == "account_edit" or route == "account_message" or route == "friends" %}active{% endif %}">
            <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" id="accountDropdownLink">
              {% trans %}Compte{% endtrans %}
            </a>
            <div class="dropdown-menu  bg-faded dropdown-menu-right" aria-labelledby="accountDropdownLink">
              <a href="{{ path('account_show') }}" class="dropdown-item">
                <div class="d-inline" style="height:15px!important;">
                  <img class="rounded-circle avatar-mini" alt="Avatar {{user.fullName}}" src="{{user.avatar}}"/>
                </div>
                &nbsp; {% trans %}Mon profil{% endtrans %}
              </a>
              <a href="{{ path('account_edit') }}" class="dropdown-item">
                {% trans %}Modifier mon profil{% endtrans %}
              </a>
              <a href="{{ path('account_message') }}" class="dropdown-item">
                {% trans %}Messagerie{% endtrans %}
              </a>
              <a href="{{ path('friends') }}" class="dropdown-item">
                {% trans %}Mes contacts{% endtrans %}
              </a>
              {% if app.user %}
                {% if "ROLE_ADMIN" in app.user.roles %}
                  <div class="dropdown-divider"></div>
                  <div id="app"></div>
                {% endif %}
              {% endif %}
              <div class="dropdown-divider"></div>
              <a href="{{ path('app_logout') }}" class="dropdown-item">
                {% trans %}Déconnexion{% endtrans %}
              </a>
            </div>
          </li>
        {% else %}
          <li class="nav-item px-lg-4">
            <a class="nav-link text-uppercase text-expanded" href="{{ path('app_login') }}">
              {% trans %}Connexion{% endtrans %}
            </a>
          </li>
        {% endif #}
        <li class="nav-item dropdown  px-lg-4">
          <a class="nav-link dropdown-toggle text-uppercase text-expanded" id="dropDownMeute" width="50px" data-toggle="dropdown" aria-haspopup="true" href="#">
            {{lg}}
          </a>
          <div class="dropdown-menu bg-faded text-uppercase text-expanded" aria-labelledby="dropDownMeute">
            <a class="dropdown-item text-uppercase text-expanded"
                {% if (lg == 'nl')  %}
                    href='{{ path(route, {'_locale' : 'fr', 'breed' : breed }) }}'>FR
                {% elseif (lg == 'en') %}
                    href='{{ path(route, {'_locale' : 'fr', 'breed' : breed }) }}'>FR
                {% elseif (lg == 'de') %}
                    href='{{ path(route, {'_locale' : 'nl'}) }}'>NL
                {% else %}
                    href='{{ path(route, {'_locale' : 'nl', 'breed' : breed }) }}'>NL
                {% endif %}
            </a>
            <a class="dropdown-item text-uppercase text-expanded"
                {% if (lg == 'nl')  %}
                  href='{{ path(route, {'_locale' : 'en'}) }}'>EN
                {% elseif (lg == 'en') %}
                  href='{{ path(route, {'_locale' : 'nl'}) }}'>NL
                {% elseif (lg == 'de') %}
                  href='{{ path(route, {'_locale' : 'en'}) }}'>EN
                {% else %}
                  href='{{ path(route, {'_locale' : 'en'}) }}'>EN
                {% endif %}
            </a>
            <a class="dropdown-item text-uppercase text-expanded"
                {% if (lg == 'nl')  %}
                  href='{{ path(route, {'_locale' : 'de'}) }}'>DE
                {% elseif (lg == 'en') %}
                  href='{{ path(route, {'_locale' : 'de'}) }}'>DE
                {% elseif (lg == 'de') %}
                  href='{{ path(route, {'_locale' : 'fr'}) }}'>FR
                {% else %}
                  href='{{ path(route, {'_locale' : 'de'}) }}'>DE
                {% endif %}
            </a>
          </div>
        </li>

      </ul>
    </div>
  </div>
</nav>
<!-- /Navigation -->