{% extends 'admin/base.html.twig' %}

{% block title %}{{ parent() }}Modifier "{{recipe.nameFr}}"{% endblock %}

{% form_theme form 'admin/recipe-book/recipe/_collection.html.twig' %}

{% block body %}

<div class="position-absolute end-0">{{ include('admin/recipe-book/partials/_delete.html.twig', {'entity': 'recipe' ,'id': recipe.id, 'name': recipe.nameFr }) }}</div>
<h1 class="mt-4 h2">Modifier "{{recipe.nameFr}}"</h1>

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ path('admin_index') }}">Tableau de bord</a></li>
        <li class="breadcrumb-item"><a href="{{ path('admin_recipe_book_recipe_index') }}">Recettes</a></li>
        <li class="breadcrumb-item active" aria-current="page">Modifier {{recipe.nameFr}}</li>
    </ol>
</nav>

<div class="card my-4">
    <div class="card-header">
        <i class="fa-regular fa-file-lines"></i>&nbsp;
        Créer une nouvelle recette
    </div>
    <div class="card-body">
        {{ include('admin/recipe-book/recipe/_form.html.twig', {'button_label': 'Modifier'}) }}
    </div>
</div>

<a href="{{ path('admin_recipe_book_recipe_index') }}">Retour aux recettes</a>

{% endblock %}

{% block javascripts %}
    <script src="http://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="{{ asset('build/js/ingredient.js') }}"></script>
{% endblock %}

