<!DOCTYPE html>

<title>Recipe index</title>

{% block body %}
    <h1>Recipe index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>NameFr</th>
                <th>NameNl</th>
                <th>NameEn</th>
                <th>NameDe</th>
                <th>DescriptionFr</th>
                <th>DescriptionNl</th>
                <th>DescriptionEn</th>
                <th>DescriptionDe</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for recipe in recipes %}
            <tr>
                <td>{{ recipe.id }}</td>
                <td>{{ recipe.nameFr }}</td>
                <td>{{ recipe.nameNl }}</td>
                <td>{{ recipe.nameEn }}</td>
                <td>{{ recipe.nameDe }}</td>
                <td>{{ recipe.descriptionFr }}</td>
                <td>{{ recipe.descriptionNl }}</td>
                <td>{{ recipe.descriptionEn }}</td>
                <td>{{ recipe.descriptionDe }}</td>
                <td>
                    <a href="{{ path('app_recipe_show', {'id': recipe.id}) }}">show</a>
                    <a href="{{ path('app_recipe_edit', {'id': recipe.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="10">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_recipe_new') }}">Create new</a>
{% endblock %}
