{% extends 'admin/base.html.twig' %}

{% block title %}{{ parent() }}Nouvelle recette{% endblock %}

{% block body %}

<h1 class="mt-4 h2">Nouvelle recette</h1>

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ path('admin_index') }}">Tableau de bord</a></li>
        <li class="breadcrumb-item"><a href="{{ path('admin_recipe_book_recipe_index') }}">Recettes</a></li>
        <li class="breadcrumb-item active" aria-current="page">Nouveau</li>
    </ol>
</nav>

<div class="card my-4">
    <div class="card-header">
        <i class="fas fa-table me-1"></i>
        Créer une nouvelle recette
    </div>
    <div class="card-body">
        {{ include('admin/recipe-book/recipe/_form.html.twig', {'button_label': 'Créer'}) }}
    </div>
</div>

<a href="{{ path('admin_recipe_book_recipe_index') }}">Retour aux recettes</a>

{% endblock %}
