{% extends 'admin/base.html.twig' %}

{% block title %}{{ parent() }}Modifier "{{substance.nameFr}}"{% endblock %}

{% block body %}

<div class="position-absolute end-0">{{ include('admin/recipe-book/substance/_delete_form.html.twig') }}</div>
<h1 class="mt-4 h2">Modifier "{{substance.nameFr}}"</h1>

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ path('admin_index') }}">Tableau de bord</a></li>
        <li class="breadcrumb-item"><a href="{{ path('admin_recipe_book_substance_index') }}">Composants</a></li>
        <li class="breadcrumb-item active" aria-current="page">Modifier {{substance.nameFr}}</li>
    </ol>
</nav>

<div class="card my-4">
    <div class="card-header">
        <i class="fas fa-table me-1"></i>
        Créer un nouveau composant
    </div>
    <div class="card-body">
        {{ include('admin/recipe-book/substance/_form.html.twig', {'button_label': 'Modifier'}) }}
    </div>
</div>

<a href="{{ path('admin_recipe_book_substance_index') }}">Retour aux composants</a>

{% endblock %}
