{% extends 'admin/base.html.twig' %}

{% block title %}{{ parent() }}Substance{% endblock %}

{% block body %}
<div class="d-inline-block position-absolute end-0">
    <a class=" btn btn-primary mx-4 mt-4" href="{{ path('admin_recipe_book_substance_edit', {'id': substance.id}) }}">Modifier</a>
</div>
<h1 class="mt-4 h2">{{substance.nameFr}}</h1>

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ path('admin_index') }}">Tableau de bord</a></li>
        <li class="breadcrumb-item"><a href="{{ path('admin_recipe_book_substance_index') }}">Composants</a></li>
        <li class="breadcrumb-item active" aria-current="page">{{substance.nameFr}}</li>
    </ol>
</nav>

<div class="card mb-4">
    <div class="card-header pb-2">
        <ul class="nav nav-pills card-header-pills">
            <li class="nav-item">
                <div class="nav-link text-dark"><i class="fas fa-table me-1"></i> Fiche technique : {{substance.nameFr}}</div>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('admin_recipe_book_substance_show', {'id': substance.id, 'lg' : 'fr'}) }}">Français</a> 
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('admin_recipe_book_substance_show', {'id': substance.id, 'lg' : 'nl'}) }}">Néerlandais</a> 
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('admin_recipe_book_substance_show', {'id': substance.id, 'lg' : 'en'}) }}">Anglais</a> 
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('admin_recipe_book_substance_show', {'id': substance.id, 'lg' : 'de'}) }}">Allemand</a> 
            </li>
        </ul>
    </div>
    <div class="card-body">
        <table class="table table-bordered">
            <tbody>
                <tr>
                    <td>Photo</td>
                    <th>{{ substance.id }}. 
                        {{ lg == 'nl' ? substance.nameNl : lg == 'en' ? substance.nameEn : lg == 'de' ? substance.nameDe : substance.nameFr }}
                    </th>
                </tr>
                <tr>
                    <td colspan="2">
                        {{ lg == 'nl' ? substance.descriptionNl : lg == 'en' ? substance.descriptionEn : lg == 'de' ? substance.descriptionDe : substance.descriptionFr }}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<a href="{{ path('admin_recipe_book_substance_index') }}">Retour aux composants</a>


{% endblock %}
